Connected Services/sms/NetcoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMS_Resource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorDescr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>